
<div>
  <h2>Forgot Password</h2>
  <hr/>
  <form class="form-horizontal" (ngSubmit)="onSubmit()"  #loginForm="ngForm" novalidate>
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-6">
        <input type="email"
               class="form-control"
               id="email"
               placeholder="Email"
               required
               [(ngModel)]="model.email"
               name="email"
               #email="ngModel"
        >
        <div [hidden]="email.valid || email.pristine"
             class="alert alert-danger">
          Email address is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success"  [disabled]="!loginForm.form.valid">Submit</button>
      </div>
    </div>
  </form>
</div>

