<!-- 
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
   <property name="hibernate.connection.url">jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}</property>
   <property name="hibernate.connection.username">${DB_USERNAME}</property>
   <property name="hibernate.connection.password">${DB_PASSWORD}</property>

   
   <mapping resource="User.hbm.xml"/>

</session-factory>
</hibernate-configuration>
 -->